.header__lang-link {
  line-height: 28px;
  font-size: 24px;
  font-weight: 400;
  color: #FFFFFF;
  text-decoration-color: #2A2C2F;
}



.header__lang-link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 767px) {
  .header__lang-link {
    line-height: 18px;
    font-size: 20px;}
}