.cover__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  z-index: 1;
  max-width: 360px;
  margin: 0;
  padding-top: 32px;
  display: flex;
  position: relative;
  justify-content: center;
  align-self: center;
}

@media screen and (max-width: 767px) {
  .cover__subtitle {
    padding-top: 16px;
    font-size: 14px;
    line-height: 16px;}
  }