.cover {
  margin: 92px auto;
  max-width: 1184px;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  flex-basis: auto;
  background-size: cover;
  position: relative;
  z-index: 2;
  width: calc(100vw - (100vw - 1184px));
}

@media screen and (max-width: 1205px) {
  .cover {width: 100%;}
}

@media screen and (max-width: 1023px) {
  .cover {
    margin: 90px 0 88px 0;
  }
}

@media screen and (max-width: 767px) {
  .cover {
    margin: 66px 0 64px 0;
  }
}
