.footer__link-row {
  padding-right: 18px;
}

.footer__link-row:last-child {
  padding-right: 0;
}

@media screen and (max-width: 767px) {
  .footer__link-row {
    padding-right: 0;
    padding-bottom: 32px;}
  .footer__link-row:last-child {
    padding-bottom: 0;}
}
