.cover__title {
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  color: #FFFFFF;
  z-index: 2;
  margin: 0;
  padding: 0;
  max-width: 560px;
  display: flex;
  position: relative;
  justify-content: center;
  align-self: center;
}

@media screen and (max-width: 767px) {
  .cover__title {
    font-size: 32px;
    line-height: 35px;}
}
