.place {
  display: grid;
  grid-template-columns: 460px minmax(min-content, 484px);
  grid-template-rows: minmax(min-content, max-content) 460px;
  gap: 48px 40px;
}

@media screen and (max-width: 1279px) {
  .place {
    grid-template-columns: 440px 1fr;
    grid-template-rows: 1fr 440px;
    gap: 48px 32px;}
}

@media screen and (max-width: 1023px) {
  .place {
    grid-template-columns: 340px 1fr;
    grid-template-rows: 1fr 340px;
    gap: 48px 28px;}
}

@media screen and (max-width: 767px) {
  .place {
    grid-template-columns: 1fr;
    grid-template-rows: minmax(min-content, max-content);
    gap: 32px;}
}
